@page
@model BlazorTrainingSept22.Pages.Modul5.IndexModel
@{
}
<h1>Html Sucks</h1>
<form method="post">
    <input name="irrtum" required="required"/><br />
    <input name="irrtum" type="checkbox" /><br />
    <input name="irrtum" type="datetime-local" /><br />
    <input name="irrtum" type="range" min="0" max="10" /><br />
    <button type="submit">ok</button>
</form>