@page "/pe"
<h3>PageEvents</h3>
<button @onclick="click">click</button>

@code {
    void click()
    {
        
    }
    protected override void OnInitialized()
    {
      
    }
    protected override void OnAfterRender(bool firstRender)
    {
       
    }

}
