@page "/pe"
<h3>PageEvents</h3>
<button @onclick="click">click</button>
<PEComponent MyProperty="df" MyProperty1="1234" MyProperty3="dsgfdhg"></PEComponent>
@code {
    void click()
    {

    }
    protected override void OnInitialized()
    {

    }
    protected override void OnAfterRender(bool firstRender)
    {

    }
  

}
