<h3>PEComponent</h3>

@code {
      protected override void OnParametersSet()
    {
      
    }
    [Parameter]
    public string MyProperty { get; set; }
        [Parameter]
    public string MyProperty1 { get; set; }
            [Parameter]
    public string MyProperty3 { get; set; }
}
