@page "/modal"
<h3>UseModal</h3>
<button type="button" class="btn btn-primary" @onclick="show">
    Launch demo modal
</button>
<ModalPPEDV @ref="modal1" 
    Titel="wollen Sie das wirklich?"
  OnSave="Save"
>
    Eingabe: <input class="form-control" @bind="Eingabe" />

</ModalPPEDV>
@Eingabe
@code {
    string Eingabe;
    ModalPPEDV modal1;
    void show()
    {
        modal1.Show();

    }
    void Save()
    {
        Eingabe = "saved...";
        modal1.Show();
    }
}
