@page "/todoV"
@inject IHttpClientFactory http
<h3>ToDoView</h3>
<button class="btn btn-outline-danger" @onclick="laden">laden</button>
<ul class="list-group">
    @if (Liste is null)
    {
        <li class="list-group-item list-group-item-danger">laden drücken</li>
    }
    else
    {
  
                <Virtualize Items="Liste" OverscanCount="5" ItemSize="25" Context="item">
            <li class="list-group-item">
                @item.title
            </li>
        </Virtualize>

    }
</ul>
@code {
    List<Todos> Liste;
    async Task laden()
    {
        var client = http.CreateClient();
        Liste =await client.GetFromJsonAsync<List<Todos>>("https://jsonplaceholder.typicode.com/todos");

    }
}
